@media (max-width: 576px){
body {
    margin:0;
}

.nav {
    display: block;
    width: 85%;
    z-index: 3;
}

.nav ul {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    overflow: hidden;
}

.nav ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.8em;  
}

.nav ul a:hover {
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.7s ease-in-out;
}

.nav .logo-pic {
    float: left;
    display: block;
    max-width: 50%; 
}

.nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.nav li {
    width: 100%;
    text-align: center;
}

.nav ul .social-media{
    display: none;
}

.nav .menu-icon {
    margin-top: 6%;
    position: relative;
    float: right;
    cursor: pointer;
    max-width: 50%;
    padding: 2%;
}

.nav .menu-icon .nav-icon {
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    display: block;
    height: 4px;
    width: 2rem;;
    position: relative;
    transition: background .2s ease-out;
}

.nav .menu-icon .nav-icon:before{
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 10px;
}

.nav .menu-icon .nav-icon:after{
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -10px;
}

.nav .menu-btn{
    display: none;
}

.nav .menu-btn:checked ~ .menu{
    max-height: 240px;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}

}

@media (max-width: 992px){
    body {
        margin:0;
    }
    
    .nav {
        display: block;
        width: 85%;
        z-index: 3;
    }
    
    .nav ul {
        margin: 0;
        padding: 0;
        margin-top: 50px;
        list-style: none;
        overflow: hidden;
    }
    
    .nav ul a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: white;
        font-size: 0.8em;  
    }
    
    .nav ul a:hover {
        background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.7s ease-in-out;
    }
    
    .nav .logo-pic {
        float: left;
        display: block;
        max-width: 50%; 
    }
    
    .nav .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    
    .nav li {
        width: 100%;
        text-align: center;
    }
    
    .nav ul .social-media{
        display: none;
    }
    
    .nav .menu-icon {
        margin-top: 28px;
        position: relative;
        float: right;
        cursor: pointer;
        max-width: 50%;
        padding: 0;
    }
    
    .nav .menu-icon .nav-icon {
        background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
        display: block;
        height: 4px;
        width: 2rem;;
        position: relative;
        transition: background .2s ease-out;
    }
    
    .nav .menu-icon .nav-icon:before{
        background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
        content:"";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: 10px;
    }
    
    .nav .menu-icon .nav-icon:after{
        background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
        content:"";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: -10px;
    }
    
    .nav .menu-btn{
        display: none;
    }
    
    .nav .menu-btn:checked ~ .menu{
        max-height: 240px;
    }
    
    .nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    
    .nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    
    .nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }

}